<div class="container-fluid mt-5 about-style" id="serviceId">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">Our Services</h1>
            <p class="text-center sub-heading">shop what you want!</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services womens">
                            <div class="icons">
                                <img src="https://media.istockphoto.com/photos/photo-portrait-of-attractive-pretty-cute-lovable-fascinating-delicate-picture-id1009480924?k=20&m=1009480924&s=612x612&w=0&h=VBdWv331CqMnw793JsjIoDTJIzgqZVxM1mAk8JmaG3w=" height="200" width="100%" alt="">
                            </div>
                            <h4>Womens</h4>
                            <p>All the new Season Essentials.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services mens">
                            <div class="icons">
                                <img src="https://media.istockphoto.com/photos/beautiful-stylish-young-couple-in-blue-suit-and-dress-sitting-near-picture-id925827210?k=20&m=925827210&s=612x612&w=0&h=5PVP8Mdaah450rv8NvIHDXAHaHVPe38qqUz8udB7Beo=" alt="" height="200" width="100%">
                            </div>
                            <h4>Mens</h4>
                            <p>Button up your office wardrobe</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services kids">
                            <div class="icons">
                                <img src="https://media.istockphoto.com/photos/trendy-girl-in-hat-looking-away-picture-id1154728772?k=20&m=1154728772&s=612x612&w=0&h=QA7-bQnOIRNRdTMT3MwI81XKIpIVfPnAi8WzeOGizL4=" alt="" height="200" width="100%">
                            </div>
                            <h4>Kids</h4>
                            <p>Shop by Age<br>
                            Mini Trends to Love</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services brands">
                            <div class="icons">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbb8wuIkcEkLFPc7GFAo7xCL-ahhrQJX5KNg&usqp=CAU" alt="" height="200" width="100%">
                            </div>
                            <h4>Brands</h4>
                            <p>Wear celebs inspired brands...<br> choose your favourite brands
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services ethinic">
                            <div class="icons">
                                <img src="https://media.istockphoto.com/photos/pretty-indian-young-hindu-bride-in-studio-shot-picture-id1270784869?k=20&m=1270784869&s=612x612&w=0&h=SR4orhmXYOabF3fY27WWuyGqZcnwQRwBADHueUG_dMY=" alt="" height="200" width="100%">
                            </div>
                            <h4>Ethinic wear</h4>
                            <p>Festival & Wedding seasons <br> Trends
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services offers">
                            <div class="icons">
                                <img src="images/offer.jpg" alt="" height="200" width="100%">
                            </div>
                            <h4>Offers</h4>
                            <p>Best Exclusive Offers for your Family<br>Hurry-up</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>