<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css"> {{!-- here we are adding bootstrap css --}}
    <title>My Website</title>

</head>
<body>
    {{>navbar}} {{!-- to get the partials folder content here we are adding navbar in index.hbs --}}
    <h1>hello this is contact page</h1>

    <script src="..\jq\jquery.js" type="text/javascript"></script>{{!-- always put jqueryat top --}}
    <script src="..\js\bootstrap.js" type="text/javascript"></script>
</body>
</html>